*{
	margin: 0;
	padding: 0;
}
.container{
	width: 50%;
	margin:  0 auto;
	background-color: #7ed6df;

}
#addList{
	padding:8px;
	width: 70%;
	margin: 0px 20px 40px 40px;
	border-radius: 5px;
	border: 0px;

}
.header >h2{
	margin: 20px;
	padding: 10px;
	text-align: center;
}
#myList>li{
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	background-color:#f6e58d;
	font-size: 18px;
	list-style: none;
	transition: 0.2s;
	color: #30336b;
}
#myList>li:nth-child(odd){
	background-color:#eb4d4b;
}
#myList>li:hover{
	background-color:#e056fd ;
}
#myList>li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* định dạng button "thêm" */
.addBtn {
  padding: 8px 40px;
  background: #d9d9d9;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: -25px;
}
.addBtn:hover {
  background-color: #bbb;
}
/* Định dạng button xóa công việc */
.close {
  position: absolute;
  right:0px;
  top: 0;
  padding: 12px 16px 12px 16px;
  color: #00b894;

}
 
.close:hover {
  background-color:#2d3436;
  color: white;
}