.ong{
			float:left;
		}
		.ong>p{
			position: absolute;
			left:0;
			background-color: yellow;
			margin:0;
			padding: 20px;
			display: none;
		}
		.ong>button{
			margin: 0px 10px;
			padding: 10px 20px;
			background-color: #44ff03;
		}